<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {{ block "title" . }}{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title
      }} | {{ .Site.Title }}{{ end }}{{ end }}
    </title>
    <link rel="stylesheet" href="{{ "css/style.css" | relURL }}"> <link
    rel="stylesheet" href="{{ "css/fonts.css" | relURL }}">
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css"
    />
  </head>
  <body>
    {{ partial "header.html" . }} {{ block "main" . }}{{ end }}
    <footer class="site-footer">
      <div class="container">
        <p>&copy; {{ now.Year }} {{ .Site.Title }}. All rights reserved.</p>
      </div>
    </footer>
  </body>
</html>
