{{ define "title" }}{{ .Title }} | {{ .Site.Title }}{{ end }} {{ define "main"
}}
<main class="archive-page container">
  <section class="recent-section container">
    <!-- <h1>{{ .Title }}</h1> -->
    <h2 class="recent-heading page-title">All Shows</h2>
    <div class="recent-posts">
      {{ range (where .Site.RegularPages "Section" "post") }}
      <article class="recent-post">
        {{ with .Params.image }}
        <img
          class="recent-post-img"
          src="{{ . | relURL }}"
          alt="{{ $.Title }}"
        />
        {{ end }}
        <div class="recent-post-content">
          <h3 class="recent-title">
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
          </h3>
          <p class="recent-date">
            {{ .Date.Format "02 Jan 2006" }}{{ with .Params.showtime }}
            <span class="recent-time">| {{ . }}</span>{{ end }}
          </p>
          <div class="post-tags">
            {{ with .Params.tags }} {{ range first 4 . }}<span class="post-tag"
              >{{ . }}</span
            >{{ end }} {{ end }}
          </div>
          {{ if .Params.description }}
          <p class="show-description">{{ .Params.description }}</p>
          {{ else }}
          <p class="show-description">{{ .Summary }}</p>
          {{ end }}
        </div>
      </article>
      {{ end }}
    </div>
  </section>
</main>
{{ end }}
