@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@100;400;500&display=swap');

@font-face {
    font-family: 'Satoshi';
    font-weight: 300 900;
    font-style: normal;
    font-display: swap;
    src: url('../fonts/Satoshi-Variable.woff2') format('woff2'),
        url('../fonts/Satoshi-Variable.woff') format('woff');
}

@font-face {
    font-family: 'Phonk Regular';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('../fonts/Phonk-Regular.woff2') format('woff2'),
        url('../fonts/Phonk-Regular.woff') format('woff');
}
