{{ define "main" }}
<main class="schedule-page homepage">
  <script src="/js/live-marquee.js"></script>
  <!-- Live banner -->
  {{ partial "live-banner.html" . }}

  <section class="recent-section container">
    <!-- <h1 class="page-title">Schedule</h1> -->
    {{ partial "schedule.html" . }}
  </section>

  <section class="recent-section container" style="margin-top: 3rem;">
    <h2 class="recent-heading page-title">Latest Shows</h2>
    <div class="recent-posts">
      {{ $now := now }}
      {{ $pastShows := where (where .Site.RegularPages "Section" "post") "Date" "<" $now }}
      {{ range first 6 $pastShows }}
        {{ $showtime := .Params.showtime }}
        {{ $title := .Title }}
        {{ if or (and $showtime (ne $showtime "")) (and $title (ne $title "")) }}
        <article class="recent-post">
          {{ with .Params.image }}
          <img
            class="recent-post-img"
            src="{{ . | relURL }}"
            alt="{{ $.Title }}"
          />
          {{ end }}
          <div class="recent-post-content">
            <h3 class="recent-title">
              <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            </h3>
            <p class="recent-date">
              {{ .Date.Format "02 Jan 2006" }}{{ with .Params.showtime }}
              <span class="recent-time">| {{ . }}</span>{{ end }}
            </p>
            <div class="post-tags">
              {{ with .Params.tags }} {{ range first 4 . }}<span class="post-tag"
                >{{ . }}</span
              >{{ end }} {{ end }}
            </div>
          </div>
        </article>
        {{ end }}
      {{ end }}
    </div>
  </section>
</main>
{{ end }}
