<script src="/js/live-marquee.js"></script>
<!-- Live banner -->
<section class="live-banner">
  <div class="container">
    <div class="live-banner-pill-inverted">
      <div class="flex-center">
        <span class="live-now-label">LIVE NOW</span>
        <span class="circle-indicator"></span>
        <div class="live-banner-marquee">
          {{ with index (first 1 (where .Site.RegularPages "Section" "post")) 0
          }}
          <span class="marquee-span" id="live-marquee-title">
            {{ .Title }}
          </span>
          {{ else }}
          <span class="marquee-span-static">
            No show yet. Add a post in <code>content/post/</code>.
          </span>
          {{ end }}
        </div>
      </div>
      {{ with .Params.tags }}
      <div class="post-tags">
        {{ range . }}<span class="post-tag">{{ . }}</span>{{ end }}
      </div>
      {{ end }}
    </div>
  </div>
</section>
