/* Base reset and globals */
html,
body {
    box-sizing: border-box;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    margin: 0;
    background-color: var(--color-bg);
    font-family: var(--font-sans);

    // line-height: 1.7;
    letter-spacing: 0.01em;
    color: var(--color-text);
}

a {
    font-weight: 600;
    transition: color 0.2s;
    color: var(--color-accent);
    text-decoration: none;
}
