<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" type="image/png" href="{{ "favicon.png" | absURL }}" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {{ block "title" . }}{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title
      }} | {{ .Site.Title }}{{ end }}{{ end }}
    </title>
    <link rel="stylesheet" href="{{ "css/style.css" | relURL }}">
  </head>
  <body>
    {{ if not .IsHome }} {{ partial "header.html" . }} {{ end }} {{ block "main"
    . }}{{ end }} {{ if not .IsHome }}
    <footer class="site-footer">
      <div class="container">
        <p>&copy; {{ now.Year }} {{ .Site.Title }}. All rights reserved.</p>
      </div>
    </footer>
    {{ end }}
    <!-- <script src="{{ "js/starfield-bg.js" | relURL }}"></script> -->
  </body>
</html>
