{{ define "main" }}
<main class="single-post container">
  <article class="single-article">
    <section class="single-hero">
      <aside class="single-hero-info">
        <div class="now-playing-info">
          {{ $showName := or .Params.show_name .Title }}
          <h1 class="show-title">{{ $showName }}</h1>
          {{ $artists := .Params.artists }}
          {{ if not $artists }}{{ $artists = slice $showName }}{{ end }}
          <p class="single-artists">with {{ partial "format-artists.html" (dict "artists" $artists) }}</p>
          <div class="upcoming-meta">
            <span class="upcoming-pill upcoming-pill-date">{{ .Date.Format "Mon, 02 Jan 2006" }}</span>
            {{ if or .Params.showtime .Params.showendtime }}
              <span class="upcoming-pill upcoming-pill-time">
                {{ if and .Params.showtime .Params.showendtime }}
                  {{ .Params.showtime }} - {{ .Params.showendtime }}
                {{ else if .Params.showtime }}
                  {{ .Params.showtime }}
                {{ else }}
                  {{ .Params.showendtime }}
                {{ end }}
              </span>
            {{ end }}
          </div>

          <div class="show-description">{{ .Content }}</div>

          <div class="post-tags">
            {{ with .Params.tags }}
              {{ range first 6 . }}<span class="post-tag">{{ . }}</span>{{ end }}
            {{ end }}
          </div>
        </div>
      </aside>
      {{ with .Params.image }}
      <div class="single-hero-image">
        <img src="{{ . | relURL }}" alt="{{ (or $.Params.show_name $.Title) }}" />
      </div>
      {{ end }}
    </section>

  </article>
</main>
{{ end }}
