{{ define "main" }}
<main class="single-post container">
  <article class="single-article">
    <section class="single-hero">
      <aside class="single-hero-info">
        <div class="now-playing-info">
          {{ $hasResident := isset .Params "is_resident" }}
          {{ $isResident := cond $hasResident .Params.is_resident true }}
          {{ $artists := .Params.artists }}
          {{ if not $artists }}{{ $artists = slice (or .Params.show_name .Title) }}{{ end }}
          {{ $artistsStr := partial "format-artists.html" (dict "artists" $artists) }}
          {{ $artistsLinked := partial "format-artists-linked.html" (dict "artists" $artists "Site" .Site) }}
          {{ $showName := .Params.show_name }}
          {{ $title := (or $showName .Title) }}
          {{ $displayTitle := cond (and (not $isResident) (not $showName)) $artistsStr $title }}
          <h1 class="show-title">{{ $displayTitle }}</h1>
          {{ if $isResident }}
            <p class="single-artists">with {{ $artistsLinked | safeHTML }}</p>
          {{ else }}
            <p class="single-artists">Guestmix</p>
          {{ end }}
          <div class="upcoming-meta">
            <span class="upcoming-pill upcoming-pill-date">{{ .Date.Format "Mon, 02 Jan 2006" }}</span>
            {{ if or .Params.showtime .Params.showendtime }}
              <span class="upcoming-pill upcoming-pill-time">
                {{ if and .Params.showtime .Params.showendtime }}
                  {{ .Params.showtime }} - {{ .Params.showendtime }}
                {{ else if .Params.showtime }}
                  {{ .Params.showtime }}
                {{ else }}
                  {{ .Params.showendtime }}
                {{ end }}
              </span>
            {{ end }}
          </div>

          <div class="show-description">{{ .Content }}</div>

          <div class="post-tags">
            {{ with .Params.tags }}
              {{ range first 6 . }}<span class="post-tag">{{ . }}</span>{{ end }}
            {{ end }}
          </div>
        </div>
      </aside>
      {{ with .Params.image }}
      <div class="single-hero-image">
        <img src="{{ . | relURL }}" alt="{{ (or $.Params.show_name $.Title) }}" />
      </div>
      {{ end }}
    </section>

  </article>
</main>
{{ end }}
