{{ define "main" }}
<div class="centered-page">
  <img src="{{ "images/RadioWeesper_logo_circle.png" | relURL }}" alt="Radio
  Weesper Logo" class="centered-logo" />
  <div class="centered-date">october 2025</div>
  <div class="centered-instagram">
    <a
      href="https://www.instagram.com/radioweesper/"
      target="_blank"
      rel="noopener"
      title="Instagram"
    >
      <img
        height="32"
        width="32"
        src="https://cdn.simpleicons.org/instagram/afdcff"
        alt="Instagram"
        style="display: block; margin: 0 auto"
      />
    </a>
  </div>
</div>
{{ end }}
